<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title></title>
   </head>
  <style media="screen">
    #ice{
      border:2px solid white;
      border-radius:50px;
    }
    .card-title{
      text-align:left;
    }
     #h5{
      text-align:left;
    }
    .card{
       box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    #img1{
      position: relative;
     top: 0;
     left: 0;
    }
    #ice{
      position: absolute;
      top: 40px;
      left: 40px;
    }
  </style>
  <body>
    <center><h2 style=" padding-top:2%;"><span style="color:#098fad;">Copilot Assigned,</span>He will coordinate with you shortly!</h2>
    <div class="card" style="width: 30rem;">
      <img id="img1" style="height:150px; " src="{%static "images/2.jpg"%}" class="card-img-top" alt="...">
      <img id="ice" style="width:100px; height:100px; " src="https://st2.depositphotos.com/8696740/12065/v/950/depositphotos_120651820-stock-illustration-set-of-ice-cream-icon.jpg" alt=""> <br><br>
      <div class="card-body">
        <div class="row">

      <div class="col">


        <h3 class="card-title">Copilot V</h3>
        <h5 id="h5" style="color:#098fad;">Technical Project manager</h5>
        <p id="h5">Ratings:</p>
        <p id="h5">8.6 <i style="color:#098fad;"  class="fa fa-star"></i><i style="color:#098fad;" class="fa fa-star"></i><i style="color:#098fad;" class="fa fa-star"></i><i style="color:#098fad;" class="fa fa-star"></i></p>
        <h5 id="h5">About</h5>
        <p id="h5" class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
          <div class="col" style="border-left:0.4px solid black;">
            <h4>Services</h4>
            <p>Web apps</p>
            <p>mobile apps</p>
            <p>UI/UX</p>
          </div>
          </div>
      </div>
    </div> <br><br>
    <a class="btn btn-primary mr-2 btn-md" href="#">Invoice</a>
    <a class="btn btn-primary mr-2 btn-md"  href="#">Chat</a>
    </center>
    <br><br><br>
  </body>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</html>
